OPENAI_API_KEY = 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
PINECONE_API_KEY = pcsk_4JeUt3_DBXWiA64zeBmuYnxCfchHuAtKDvhXcWU22EEVRXXtbya7afprp4ARqvy7AXaZav
HF_TOKEN = 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
TAMMY_INDEX_NAME=tammy-books
TAMMY_MEMORY_INDEX=tammy-memories
TAMMY_NAMESPACE=tammy-v1
TAMMY_EMB_MODEL=text-embedding-3-small
TAMMY_CHAT_MODEL=gpt-4o-mini
MONGO_URI=mongodb+srv://tamiminabulsi_db_user:TammyAI2025@ac-rtvfzp3.djjlozz.mongodb.net/?retryWrites=true&w=majority&appName=tammy
REDIS_HOST=redis-18331.crce219.us-east-1-4.ec2.cloud.redislabs.com
REDIS_PORT=18331
REDIS_USERNAME=default
REDIS_PASSWORD=loOSJW1pqyc2nNeDAQslAOXjVV1MCjKv
# Admin Panel Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_SESSION_SECRET=dev-secret-change-me-32chars-min
